--CREATE DATABASE	Hellraid_Tyr
USE [Hellraid_Tyr]
GO
/****** Object:  UserDefinedFunction [dbo].[GCD]    Script Date: 13.11.2023 10:57:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[GCD] (@a INT, @b INT)  
RETURNS INT  
AS  
BEGIN  
    RETURN  
        CASE   
            WHEN @b = 0 THEN @a  
            ELSE dbo.GCD(@b, @a % @b)  
        END  
END; 
GO
/****** Object:  UserDefinedFunction [dbo].[Hanuwu_MHe_CTpaHy]    Script Date: 13.11.2023 10:57:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Hanuwu_MHe_CTpaHy] (@capital nvarchar(max))
RETURNS nvarchar(max) AS
BEGIN
	DECLARE @name nvarchar(max)	
	SELECT @name = Name FROM Countries
	where Capital = @capital
	RETURN @name
END
GO
/****** Object:  UserDefinedFunction [dbo].[Haudu_CTPAHY]    Script Date: 13.11.2023 10:57:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Haudu_CTPAHY] ()
RETURNS nvarchar(max) AS
BEGIN
	DECLARE @p nvarchar(max), @m1 float, @m2 float, @m3 float

	SELECT @m1 = MAX(Population)  FROM Countries
	SELECT @m2 = MAX(Population)  FROM Countries
	where Population < @m1	
	SELECT @m3 = MAX(Population)  FROM Countries
	where Population < @m2

	SELECT @P = Name FROM Countries
	where Population = @m3

	RETURN @P
END
GO
/****** Object:  UserDefinedFunction [dbo].[Haudu_MAKC_HACEJlEHUE]    Script Date: 13.11.2023 10:57:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Haudu_MAKC_HACEJlEHUE] (@continent nvarchar(max))
RETURNS nvarchar(max) AS
BEGIN
	DECLARE @country nvarchar(max), @maxpop float

	IF @continent IS NULL
		SET @continent = 'Азия'

	SELECT @maxpop = MAX(Population) FROM Countries c
	WHERE  c.Сontinent = @continent 
	
	SELECT @country = Name FROM Countries
	WHERE Population = @maxpop

	RETURN @country
END
GO
/****** Object:  UserDefinedFunction [dbo].[Haudu_nJlOTHOCTb]    Script Date: 13.11.2023 10:57:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Haudu_nJlOTHOCTb] (@continent nvarchar(max))
RETURNS float AS
BEGIN
	DECLARE @Plotnost float

	SELECT @Plotnost = ROUND(cast(Population as float)/Area, 3) FROM Countries c
	where Сontinent = @continent
	
	RETURN @Plotnost
END
GO
/****** Object:  UserDefinedFunction [dbo].[IsPalindrom]    Script Date: 13.11.2023 10:57:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[IsPalindrom](@FIRST INT)
RETURNS INT AS
BEGIN
    DECLARE @ReversedStr NVARCHAR(100) , @SECOND int, @otvet int
	SET @SECOND = @FIRST
    SET @ReversedStr = REVERSE(CAST(@FIRST AS NVARCHAR(100)));

    IF @ReversedStr = CAST(@SECOND AS NVARCHAR(100))
        SET @otvet = 1
    ELSE
        SET @otvet = 0
	RETURN @otvet
END
GO
/****** Object:  UserDefinedFunction [dbo].[IsPrime]    Script Date: 13.11.2023 10:57:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[IsPrime](@N INT)
RETURNS INT AS
BEGIN
    DECLARE @IsPrime INT = 1

    IF @N <= 1
        SET @IsPrime = 0
    ELSE
		BEGIN
		    DECLARE @i INT = 2;

		    WHILE @i * @i <= @N
				BEGIN
				    IF @N % @i = 0
						BEGIN
						    SET @IsPrime = 0
						    BREAK;
						END
				    SET @i = @i + 1
				END
		END

    RETURN @IsPrime
END
GO
/****** Object:  UserDefinedFunction [dbo].[KOJlBO_CTPAH]    Script Date: 13.11.2023 10:57:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[KOJlBO_CTPAH] (@t char(1))
RETURNS INT AS
BEGIN
	DECLARE @K int

	SELECT @K = COUNT(*) FROM Countries
	WHERE CHARINDEX(@t, Name) = 0

	RETURN @K
END
GO
/****** Object:  UserDefinedFunction [dbo].[MyQuarter]    Script Date: 13.11.2023 10:57:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[MyQuarter](@x FLOAT, @y FLOAT)
RETURNS INT AS
BEGIN
    DECLARE @Quadrant INT;

    IF @x > 0 AND @y > 0
        SET @Quadrant = 1
    ELSE IF @x < 0 AND @y > 0
        SET @Quadrant = 2
    ELSE IF @x < 0 AND @y < 0
        SET @Quadrant = 3
    ELSE IF @x > 0 AND @y < 0
        SET @Quadrant = 4
    ELSE
        SET @Quadrant = 0

    RETURN @Quadrant
END
GO
/****** Object:  UserDefinedFunction [dbo].[nepeBedu_MHe_B_MuJlJluoHbl]    Script Date: 13.11.2023 10:57:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[nepeBedu_MHe_B_MuJlJluoHbl] (@population float)
RETURNS nvarchar(max) AS
BEGIN
	DECLARE @p float	
	set @p = (@population / 1000000)
	RETURN CAST(@p as nvarchar(max)) + ' млн.'
END
GO
/****** Object:  UserDefinedFunction [dbo].[Zamena]    Script Date: 13.11.2023 10:57:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Zamena] (@text nvarchar(max))
RETURNS nvarchar(max) AS
BEGIN
	RETURN LEFT(@text, 2) + REPLICATE('тест',LEN(@text) - 2) + RIGHT(@text, 1)
END
GO
/****** Object:  Table [dbo].[Countries]    Script Date: 13.11.2023 10:57:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Countries](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](150) NULL,
	[Capital] [nvarchar](150) NULL,
	[Area] [int] NULL,
	[Population] [int] NULL,
	[Сontinent] [nvarchar](150) NULL,
 CONSTRAINT [PK_Countries] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[nJlowadb_CTRAHbl]    Script Date: 13.11.2023 10:57:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[nJlowadb_CTRAHbl] (@n int)
RETURNS TABLE AS RETURN
(
	SELECT * FROM dbo.Countries c
	WHERE Area < @n
)
GO
/****** Object:  UserDefinedFunction [dbo].[HACJleHUE_CTRAHbl]    Script Date: 13.11.2023 10:57:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[HACJleHUE_CTRAHbl] (@n1 int, @n2 int)
RETURNS TABLE AS RETURN
(
	SELECT * FROM dbo.Countries c
	WHERE Population >= @n1 and Population <= @n2
)
GO
/****** Object:  UserDefinedFunction [dbo].[HACJleHUE_KOHTUHEHTA]    Script Date: 13.11.2023 10:57:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[HACJleHUE_KOHTUHEHTA] ()
RETURNS TABLE AS RETURN
(
	SELECT c.Сontinent, SUM(Population) Pop FROM dbo.Countries c
	GROUP BY c.Сontinent
)
GO
/****** Object:  Table [dbo].[Academics]    Script Date: 13.11.2023 10:57:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Academics](
	[ID] [int] NOT NULL,
	[Second_name] [nvarchar](100) NULL,
	[First_name] [nvarchar](100) NULL,
	[Patronymic] [nvarchar](100) NULL,
	[Birthday_date] [date] NULL,
	[ID_specialization] [int] NULL,
	[Year_of_title] [int] NULL,
 CONSTRAINT [PK_Academics] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Deparment_alfa]    Script Date: 13.11.2023 10:57:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Deparment_alfa](
	[ID] [int] NOT NULL,
	[Years_on_work] [int] NULL,
 CONSTRAINT [PK_Deparment_alfa] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Department]    Script Date: 13.11.2023 10:57:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[ID] [int] NOT NULL,
	[Abbreviation] [nvarchar](10) NULL,
	[Dep_Name] [nvarchar](100) NULL,
	[ID_fac] [int] NULL,
 CONSTRAINT [PK_Department] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Discipline]    Script Date: 13.11.2023 10:57:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Discipline](
	[ID] [int] NOT NULL,
	[Volume] [int] NULL,
	[ID_dep] [int] NULL,
 CONSTRAINT [PK_Discipline] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employe]    Script Date: 13.11.2023 10:57:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employe](
	[ID] [int] NOT NULL,
	[ID_dep] [int] NULL,
	[FIO] [nvarchar](100) NULL,
	[Job_title] [nvarchar](100) NULL,
	[Salary] [int] NULL,
	[Chef] [int] NULL,
 CONSTRAINT [PK_Employe] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Engineer]    Script Date: 13.11.2023 10:57:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Engineer](
	[ID] [int] NOT NULL,
	[Name_title] [nvarchar](50) NULL,
 CONSTRAINT [PK_Engineer] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Exasm]    Script Date: 13.11.2023 10:57:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Exasm](
	[ID] [int] NOT NULL,
	[Date_ex] [date] NULL,
	[ID_dis] [int] NULL,
	[ID_stud] [int] NULL,
	[ID_empl] [int] NULL,
	[Audit] [nvarchar](100) NULL,
	[Mark] [int] NULL,
 CONSTRAINT [PK_Exasm] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Faculty]    Script Date: 13.11.2023 10:57:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Faculty](
	[ID] [int] NOT NULL,
	[Abbreviation] [nvarchar](50) NULL,
	[Name_Fac] [nvarchar](100) NULL,
 CONSTRAINT [PK_Faculty] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gimnazist]    Script Date: 13.11.2023 10:57:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gimnazist](
	[ID_student] [int] IDENTITY(1,1) NOT NULL,
	[Second_name] [varchar](50) NOT NULL,
	[Stud_Subject] [varchar](50) NOT NULL,
	[School] [varchar](50) NOT NULL,
	[Mark] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LR5_Students]    Script Date: 13.11.2023 10:57:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LR5_Students](
	[ID_student] [int] IDENTITY(1,1) NOT NULL,
	[Second_name] [varchar](50) NOT NULL,
	[Stud_Subject] [varchar](50) NOT NULL,
	[School] [varchar](50) NOT NULL,
	[Mark] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_student] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pupils]    Script Date: 13.11.2023 10:57:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pupils](
	[Id] [int] NOT NULL,
	[Surname] [nvarchar](max) NULL,
	[Subject] [nvarchar](max) NULL,
	[Education] [nvarchar](max) NULL,
	[Pts] [float] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Request]    Script Date: 13.11.2023 10:57:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Request](
	[ID] [int] NOT NULL,
	[ID_dis] [int] NULL,
	[ID_spec] [int] NULL,
 CONSTRAINT [PK_Request] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Speciality]    Script Date: 13.11.2023 10:57:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Speciality](
	[ID] [int] NOT NULL,
	[Name_spec] [nvarchar](200) NULL,
	[ID_dep] [int] NULL,
 CONSTRAINT [PK_Speciality] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Specialization]    Script Date: 13.11.2023 10:57:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Specialization](
	[ID] [int] NOT NULL,
	[Name_specialization] [nvarchar](100) NULL,
 CONSTRAINT [PK_Specialization] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 13.11.2023 10:57:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[ID] [int] NOT NULL,
	[ID_spec] [int] NULL,
	[FIO] [nvarchar](100) NULL,
 CONSTRAINT [PK_Student] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Teacher]    Script Date: 13.11.2023 10:57:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teacher](
	[ID] [int] NOT NULL,
	[teach_Title] [nvarchar](100) NULL,
	[Rank] [nvarchar](50) NULL,
 CONSTRAINT [PK_Teacher] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Academics] ([ID], [Second_name], [First_name], [Patronymic], [Birthday_date], [ID_specialization], [Year_of_title]) VALUES (1, N'Аничков', N'Николай', N'Николаевич', CAST(N'1885-11-03' AS Date), 1, 1939)
INSERT [dbo].[Academics] ([ID], [Second_name], [First_name], [Patronymic], [Birthday_date], [ID_specialization], [Year_of_title]) VALUES (2, N'Бартольд', N'Василий', N'Владимирович', CAST(N'1869-11-15' AS Date), 2, 1913)
INSERT [dbo].[Academics] ([ID], [Second_name], [First_name], [Patronymic], [Birthday_date], [ID_specialization], [Year_of_title]) VALUES (3, N'Белопольский', N'Аристарх', N'Аполлонович', CAST(N'1854-07-13' AS Date), 3, 1903)
INSERT [dbo].[Countries] ([Id], [Name], [Capital], [Area], [Population], [Сontinent]) VALUES (1, N'Австрия', N'Вена', 83858, 8741753, N'Европа')
INSERT [dbo].[Countries] ([Id], [Name], [Capital], [Area], [Population], [Сontinent]) VALUES (2, N'Азербайджан', N'Баку', 86600, 9705600, N'Азия')
INSERT [dbo].[Countries] ([Id], [Name], [Capital], [Area], [Population], [Сontinent]) VALUES (3, N'Албания', N'Тирана', 28748, 2866026, N'Европа')
INSERT [dbo].[Deparment_alfa] ([ID], [Years_on_work]) VALUES (101, 15)
INSERT [dbo].[Deparment_alfa] ([ID], [Years_on_work]) VALUES (201, 18)
INSERT [dbo].[Deparment_alfa] ([ID], [Years_on_work]) VALUES (301, 20)
INSERT [dbo].[Department] ([ID], [Abbreviation], [Dep_Name], [ID_fac]) VALUES (10, N'вм', N'Высшая математика', 1)
INSERT [dbo].[Department] ([ID], [Abbreviation], [Dep_Name], [ID_fac]) VALUES (20, N'ис', N'Информационные системы', 3)
INSERT [dbo].[Department] ([ID], [Abbreviation], [Dep_Name], [ID_fac]) VALUES (30, N'мм', N'Математическое моделирование', 4)
INSERT [dbo].[Discipline] ([ID], [Volume], [ID_dep]) VALUES (101, 320, 10)
INSERT [dbo].[Discipline] ([ID], [Volume], [ID_dep]) VALUES (102, 160, 50)
INSERT [dbo].[Discipline] ([ID], [Volume], [ID_dep]) VALUES (103, 160, 40)
INSERT [dbo].[Employe] ([ID], [ID_dep], [FIO], [Job_title], [Salary], [Chef]) VALUES (101, 50, N'Прохоров П.П.', N'зав. кафедрой', 35000, 101)
INSERT [dbo].[Employe] ([ID], [ID_dep], [FIO], [Job_title], [Salary], [Chef]) VALUES (102, 50, N'Семенов С.С.', N'преподаватель', 25000, 101)
INSERT [dbo].[Employe] ([ID], [ID_dep], [FIO], [Job_title], [Salary], [Chef]) VALUES (105, 50, N'Петров П.П.', N'преподаватель', 25000, 101)
INSERT [dbo].[Engineer] ([ID], [Name_title]) VALUES (153, N'электроник')
INSERT [dbo].[Engineer] ([ID], [Name_title]) VALUES (241, N'электроник')
INSERT [dbo].[Engineer] ([ID], [Name_title]) VALUES (242, N'программист')
INSERT [dbo].[Exasm] ([ID], [Date_ex], [ID_dis], [ID_stud], [ID_empl], [Audit], [Mark]) VALUES (701, CAST(N'2015-06-05' AS Date), 102, 10101, 102, N'т505', 4)
INSERT [dbo].[Exasm] ([ID], [Date_ex], [ID_dis], [ID_stud], [ID_empl], [Audit], [Mark]) VALUES (702, CAST(N'2015-06-05' AS Date), 102, 10102, 102, N'т505', 4)
INSERT [dbo].[Exasm] ([ID], [Date_ex], [ID_dis], [ID_stud], [ID_empl], [Audit], [Mark]) VALUES (703, CAST(N'2015-06-05' AS Date), 202, 20101, 202, N'т506', 4)
INSERT [dbo].[Faculty] ([ID], [Abbreviation], [Name_Fac]) VALUES (1, N'Ен', N'Естественные науки')
INSERT [dbo].[Faculty] ([ID], [Abbreviation], [Name_Fac]) VALUES (2, N'Гн', N'Гуманитарные науки')
INSERT [dbo].[Faculty] ([ID], [Abbreviation], [Name_Fac]) VALUES (3, N'Ит', N'Информационные технологии')
SET IDENTITY_INSERT [dbo].[Gimnazist] ON 

INSERT [dbo].[Gimnazist] ([ID_student], [Second_name], [Stud_Subject], [School], [Mark]) VALUES (5, N'Халоконтов', N'Математический анализ', N'Школа №181', 99)
SET IDENTITY_INSERT [dbo].[Gimnazist] OFF
SET IDENTITY_INSERT [dbo].[LR5_Students] ON 

INSERT [dbo].[LR5_Students] ([ID_student], [Second_name], [Stud_Subject], [School], [Mark]) VALUES (1, N'Трошкова', N'Математика', N'Школа №21', 56)
INSERT [dbo].[LR5_Students] ([ID_student], [Second_name], [Stud_Subject], [School], [Mark]) VALUES (2, N'Трошкова', N'Математика', N'Школа №21', 56)
INSERT [dbo].[LR5_Students] ([ID_student], [Second_name], [Stud_Subject], [School], [Mark]) VALUES (3, N'Анонимусов', N'Химия', N'Школа №18', NULL)
SET IDENTITY_INSERT [dbo].[LR5_Students] OFF
INSERT [dbo].[Pupils] ([Id], [Surname], [Subject], [Education], [Pts]) VALUES (1, N'Иванова', N'Математика', N'Лицей', 98.5)
INSERT [dbo].[Pupils] ([Id], [Surname], [Subject], [Education], [Pts]) VALUES (2, N'Петров', N'Физика', N'Лицей', 99)
INSERT [dbo].[Pupils] ([Id], [Surname], [Subject], [Education], [Pts]) VALUES (3, N'Сидоров', N'Математика', N'Лицей', 88)
INSERT [dbo].[Request] ([ID], [ID_dis], [ID_spec]) VALUES (901, 101, 101)
INSERT [dbo].[Request] ([ID], [ID_dis], [ID_spec]) VALUES (902, 205, 101)
INSERT [dbo].[Request] ([ID], [ID_dis], [ID_spec]) VALUES (903, 209, 101)
INSERT [dbo].[Speciality] ([ID], [Name_spec], [ID_dep]) VALUES (101, N'Прикладная математика', 30)
INSERT [dbo].[Speciality] ([ID], [Name_spec], [ID_dep]) VALUES (102, N'Информационные системы и технологии', 20)
INSERT [dbo].[Speciality] ([ID], [Name_spec], [ID_dep]) VALUES (103, N'Прикладная информатика', 50)
INSERT [dbo].[Specialization] ([ID], [Name_specialization]) VALUES (1, N'медицина')
INSERT [dbo].[Specialization] ([ID], [Name_specialization]) VALUES (2, N'историк')
INSERT [dbo].[Specialization] ([ID], [Name_specialization]) VALUES (3, N'астрофизик')
INSERT [dbo].[Student] ([ID], [ID_spec], [FIO]) VALUES (10101, 103, N'Николаева Н. Н.')
INSERT [dbo].[Student] ([ID], [ID_spec], [FIO]) VALUES (10102, 103, N'Иванов И. И.')
INSERT [dbo].[Student] ([ID], [ID_spec], [FIO]) VALUES (10103, 103, N'Крюков К. К.')
INSERT [dbo].[Teacher] ([ID], [teach_Title], [Rank]) VALUES (101, N'профессор', N'д. т.н.')
INSERT [dbo].[Teacher] ([ID], [teach_Title], [Rank]) VALUES (102, N'доцент', N'к. ф.-м. н.')
INSERT [dbo].[Teacher] ([ID], [teach_Title], [Rank]) VALUES (105, N'доцент', N'к. т.н.')
ALTER TABLE [dbo].[Academics]  WITH CHECK ADD  CONSTRAINT [FK_Academics_Specialization] FOREIGN KEY([ID_specialization])
REFERENCES [dbo].[Specialization] ([ID])
GO
ALTER TABLE [dbo].[Academics] CHECK CONSTRAINT [FK_Academics_Specialization]
GO
ALTER TABLE [dbo].[Deparment_alfa]  WITH CHECK ADD  CONSTRAINT [FK_Deparment_alfa_Employe] FOREIGN KEY([ID])
REFERENCES [dbo].[Employe] ([ID])
GO
ALTER TABLE [dbo].[Deparment_alfa] CHECK CONSTRAINT [FK_Deparment_alfa_Employe]
GO
ALTER TABLE [dbo].[Department]  WITH CHECK ADD  CONSTRAINT [FK_Department_Faculty] FOREIGN KEY([ID_fac])
REFERENCES [dbo].[Faculty] ([ID])
GO
ALTER TABLE [dbo].[Department] CHECK CONSTRAINT [FK_Department_Faculty]
GO
ALTER TABLE [dbo].[Discipline]  WITH CHECK ADD  CONSTRAINT [FK_Discipline_Department] FOREIGN KEY([ID_dep])
REFERENCES [dbo].[Department] ([ID])
GO
ALTER TABLE [dbo].[Discipline] CHECK CONSTRAINT [FK_Discipline_Department]
GO
ALTER TABLE [dbo].[Employe]  WITH CHECK ADD  CONSTRAINT [FK_Employe_Department] FOREIGN KEY([ID_dep])
REFERENCES [dbo].[Department] ([ID])
GO
ALTER TABLE [dbo].[Employe] CHECK CONSTRAINT [FK_Employe_Department]
GO
ALTER TABLE [dbo].[Engineer]  WITH CHECK ADD  CONSTRAINT [FK_Engineer_Employe] FOREIGN KEY([ID])
REFERENCES [dbo].[Employe] ([ID])
GO
ALTER TABLE [dbo].[Engineer] CHECK CONSTRAINT [FK_Engineer_Employe]
GO
ALTER TABLE [dbo].[Exasm]  WITH CHECK ADD  CONSTRAINT [FK_Exasm_Discipline] FOREIGN KEY([ID_dis])
REFERENCES [dbo].[Discipline] ([ID])
GO
ALTER TABLE [dbo].[Exasm] CHECK CONSTRAINT [FK_Exasm_Discipline]
GO
ALTER TABLE [dbo].[Exasm]  WITH CHECK ADD  CONSTRAINT [FK_Exasm_Employe] FOREIGN KEY([ID_empl])
REFERENCES [dbo].[Employe] ([ID])
GO
ALTER TABLE [dbo].[Exasm] CHECK CONSTRAINT [FK_Exasm_Employe]
GO
ALTER TABLE [dbo].[Exasm]  WITH CHECK ADD  CONSTRAINT [FK_Exasm_Student] FOREIGN KEY([ID_stud])
REFERENCES [dbo].[Student] ([ID])
GO
ALTER TABLE [dbo].[Exasm] CHECK CONSTRAINT [FK_Exasm_Student]
GO
ALTER TABLE [dbo].[Request]  WITH CHECK ADD  CONSTRAINT [FK_Request_Discipline] FOREIGN KEY([ID_dis])
REFERENCES [dbo].[Discipline] ([ID])
GO
ALTER TABLE [dbo].[Request] CHECK CONSTRAINT [FK_Request_Discipline]
GO
ALTER TABLE [dbo].[Request]  WITH CHECK ADD  CONSTRAINT [FK_Request_Speciality] FOREIGN KEY([ID_spec])
REFERENCES [dbo].[Speciality] ([ID])
GO
ALTER TABLE [dbo].[Request] CHECK CONSTRAINT [FK_Request_Speciality]
GO
ALTER TABLE [dbo].[Speciality]  WITH CHECK ADD  CONSTRAINT [FK_Speciality_Department] FOREIGN KEY([ID_dep])
REFERENCES [dbo].[Department] ([ID])
GO
ALTER TABLE [dbo].[Speciality] CHECK CONSTRAINT [FK_Speciality_Department]
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [FK_Student_Speciality] FOREIGN KEY([ID_spec])
REFERENCES [dbo].[Speciality] ([ID])
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [FK_Student_Speciality]
GO
ALTER TABLE [dbo].[Teacher]  WITH CHECK ADD  CONSTRAINT [FK_Teacher_Employe] FOREIGN KEY([ID])
REFERENCES [dbo].[Employe] ([ID])
GO
ALTER TABLE [dbo].[Teacher] CHECK CONSTRAINT [FK_Teacher_Employe]
GO
ALTER TABLE [dbo].[LR5_Students]  WITH CHECK ADD CHECK  (([Mark]>=(0) AND [Mark]<=(100)))
GO
/****** Object:  StoredProcedure [dbo].[SelectColumnsFromTable]    Script Date: 13.11.2023 10:57:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SelectColumnsFromTable]
    @columnList NVARCHAR(MAX),
    @tableName NVARCHAR(128)    
AS
BEGIN
    DECLARE @sql3 NVARCHAR(MAX);
    SET @sql3 = 'SELECT ' + @columnList + ' FROM ' + @tableName;

    EXEC(@sql3);
END
GO
/****** Object:  StoredProcedure [dbo].[SelectColumnsFromTable2]    Script Date: 13.11.2023 10:57:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SelectColumnsFromTable2]
    @columnList NVARCHAR(MAX),
    @tableName NVARCHAR(MAX),
	@columnName NVARCHAR(MAX),
	@compareSign NVARCHAR(2),
	@compareValue NVARCHAR(MAX)
AS
BEGIN
    DECLARE @sql4 NVARCHAR(MAX);
    SET @sql4 = 'SELECT ' + @columnList + ' FROM ' + @tableName +
                    ' WHERE ' + @columnName + ' ' + @compareSign + ' ''' + @compareValue + '''';


    EXEC(@sql4);
END
GO
